@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 2;
  font-weight: 300;
  color: #464646;
  letter-spacing: 0.01em;

  background-color: #ffffff;
}

a {
  color: #000000;
  text-decoration: none;
}

.main-header ul,
.main-footer ul,
.container ul {
  list-style: none;
}

.main-header {
  background-color: #f7e296;
}

.main-header input[type="search"] {
  font: inherit;
  line-height: 36px;
  color: #000000;
  opacity: 0.3;

  background-color: #f7e296;
  border: none;
}

.main-header input[type="search"]:hover {
  opacity: 0.6;
}

.main-header input[type="search"]:focus {
  opacity: 1;
}

.search-button {
  font: inherit;
  line-height: 36px;
  color: #000000;

  background-color: #f7e296;
  border: 2px solid #000000;
}

.search-button:hover,
.search-button:focus {
  color: #ffffff;
  outline: none;

  background-color: #000000;
}

.search-button:active {
  color: #747474;
}

.user-navigation {
  font: inherit;
  line-height: 36px;
/*  color: #000000;*/
}

.site-navigation {
  font-family: "Gilroy", Verdana, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 800;
/*  color: #000000;*/
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.sub-navigation a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
/*  color: #000000;*/
  text-transform: none;
  letter-spacing: 0.01em;
}

.main-header a[href]:hover,
.main-header a[href]:focus,
.main-footer a[href]:hover,
.main-footer a[href]:focus {
  opacity: 0.6;
}

.login-off a,
.main-header a[href]:active,
.main-footer a[href]:active {
  opacity: 0.3;
}

.container h1,
.container h3 {
  font-family: "Gilroy", Verdana, sans-serif;
  font-size: 47px;
  line-height: 1.2;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.01em;
  text-align: left;
}

.promo-item tr:first-child {
  font-family: "Gilroy", Verdana, sans-serif;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.01em;
}

.promo-item tr:last-child {
  font-size: 13px;
  line-height: 20px;
}

.button {
  font-family: "Gilroy", Verdana, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;

  background-color: #f0c52e;
}

.category {
  font-family: "Gilroy", Verdana, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.button:active,
.category-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.service {
  background-color: #e5e5e5;
}

.service-list a:active,
.service-current {
  color: #f7e184;

  background-color: #000000;
}

.brand img {
  filter: grayscale(1) opacity(0.2);
}

.brand img:hover,
.brand img:focus {
  filter: grayscale(0) opacity(1);
}

.about-item {
  font-family: "Gilroy", Verdana, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
  list-style-type: circle;
}

.main-footer {
  background-color: #464646;
}

.main-footer a {
  color: #ffffff;
}

.contact,
.contact-address {
  color: #ffffff;
  letter-spacing: 0;
  font-style: normal;
}

.modal label {
  font-family: "Gilroy", Verdana, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 800;
  color: #000000;
}

.modal input,
.modal textarea {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: rgba(70, 70, 70, 0.4);

  background-color: #f2f2f2;
  border: none;
}

.modal input:hover,
.modal textarea:hover {
 background-color: #eaeaea;
}

.modal input:focus,
.modal textarea:focus {
  color: #464646;
  outline: none;

  background-color: #ffffff;
  border: 2px solid #f0c52e;
}

.modal input:invalid,
.modal textarea:invalid {
  background-color: #f6dada;
}

.breadcrumbs a {
  font: inherit;
  font-size: 14px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a[href]:hover,
.breadcrumbs a[href]:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a[href]:active,
.breadcrumbs a[href]:active {
  color: rgba(0, 0, 0, 0.1);
}

.container h2 {
  font-family: "Gilroy", Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: left;
}

.filters {
  background-color: #efefef;
}

.filters h2 {
  background-color: #dbdbdb;
}

.filters fieldset {
  border: none;
}

.filters legend,
.catalog-item h3 {
  font-family: "Gilroy", Verdana, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.01em;
}

.filters label {
  font: inherit;
  font-size: 14px;
  line-height: 40px;
  color: #000000;
}

.filters input:disabled+label {
 color: #a6a6a6;
}

.sort {
  background-color: #ebebeb;
}

.sort a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
}

.sort a[href]:hover,
.sort a[href]:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort a[href]:active {
  color: rgba(0, 0, 0, 1);
}

.type-current a,
.priority-current a {
  color: #000000;
}

.pagination-list {
  background-color: #ebebeb;
}

.pagination-list a {
  font-family: "Gilroy", Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 800;
/*  color: #000000;*/
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.off-current a {
  color: rgba(0, 0, 0, 0.3);
}

.off-current a[href]:hover,
.off-current a[href]:focus {
  color: rgba(0, 0, 0, 0.6);
}

.off-current a[href]:active {
  color: rgba(0, 0, 0, 1);
}

.pagination-item:first-child a:hover,
.pagination-item:first-child a:focus,
.pagination-item:last-child a:hover,
.pagination-item:last-child a:focus {
  background-color: #d9d9d9;
}

.pagination-item:first-child a:active,
.pagination-item:last-child a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item .compare-on {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.01em;
}

.catalog-item .compare-on:hover,
.catalog-item .compare-on:focus {
  color: rgba(0, 0, 0, 1);
}

.catalog-item .compare-on:active {
  color: rgba(0, 0, 0, 0.2);
}

.catalog-item span {
  font-family: "Gilroy", Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 300;
  color: #464646;
  letter-spacing: 0.01em;
}
