@font-face {
font-family: "Open Sans";
src: url("../fonts/opensans.woff2") format("woff2");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: "Open Sans";
src: url("../fonts/opensanslight.woff2") format("woff2");
font-weight: 300;
font-style: normal;
}

@font-face {
font-family: "Gilroy";
src: url("../fonts/gilroyextrabold.woff2") format("woff2");
font-weight: 800;
font-style: normal;
}

@font-face {
font-family: "Gilroy";
src: url("../fonts/gilroylight.woff2") format("woff2");
font-weight: 300;
font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  letter-spacing: 0.01em;

  background-color: #ffffff;
}

a {
  color: #000000;
  text-decoration: none;
}

ul {
  list-style: none;
}

.main-header {
  background-color: #f7e296;
}

.main-header input[type="search"] {
  font: inherit;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.3);

  background-color: #f7e296;
  border: none;
}

.user-navigation {
  font: inherit;
  line-height: 36px;
  color: #000000
}

.login-off a{
  font: inherit;
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation {
  font-family: "Gilroy", Verdana, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.sub-navigation a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #000000;
  text-transform: none;
  letter-spacing: 0.01em;
}

.container h1,
.container h3 {
  font-family: "Gilroy", Verdana, sans-serif;
  font-size: 47px;
  line-height: 1.2;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.01em;
  text-align: left;
}

.promo-item tr:first-child {
  font-family: "Gilroy", Verdana, sans-serif;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.01em;
}

.promo-item tr:last-child {
  font-size: 13px;
  line-height: 20px;
}

.button {
  font-family: "Gilroy", Verdana, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;

  background-color: #f0c52e;
}

.category {
  font-family: "Gilroy", Verdana, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.service {
  background-color: #e5e5e5;
}

.about-item {
  font-family: "Gilroy", Verdana, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
  list-style-type: circle;
}

.main-footer {
  background-color: #464646;
}

.main-footer a {
  color: #ffffff;
}

.contact,
.contact-address {
  color: #ffffff;
  letter-spacing: 0;
  font-style: normal;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.modal label {
  font-family: "Gilroy", Verdana, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 800;
  color: #000000;
}

.modal input,
.modal textarea {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: rgba(70, 70, 70, 0.4);

  background-color: #f2f2f2;
  border: none;
}

.breadcrumbs a {
  font: inherit;
  font-size: 14px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.3);
}

.container h2,
.pagination-list a {
  font-family: "Gilroy", Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: left;
}

.filters {
  background-color: #eeeeee;
}

.filters h2 {
  background-color: #dbdbdb;
}

.filters fieldset {
  border: none;
}

.filters legend,
.catalog-item a {
  font-family: "Gilroy", Verdana, sans-serif;
  font-size: 18px;
  line-height: 1,2;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.01em;
}

.filters label {
  font: inherit;
  font-size: 14px;
  line-height: 40px;
  color: #000000;
}

.sort {
  background-color: #ebebeb;
}

.sort a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
}

.type-current a,
.priority-current a {
  color: #000000;
}

.catalog-item span {
  font-family: "Gilroy", Verdana, sans-serif;
  font-size: 16px;
  line-height: 1,2;
  font-weight: 300;
  color: #464646;
  letter-spacing: 0.01em;
}

.off-current a {
  color: rgba(0, 0, 0, 0.3);
}
