@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
       url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light"),
       url("../fonts/opensanslight.woff2") format("woff2"),
       url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-ExtraBold"),
       url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-Light"),
       url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 2;
  font-weight: 300;
  color: #464646;
  letter-spacing: 0.01em;

  background-color: #ffffff;
}

a {
  color: #000000;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  display: flex;
  flex-direction: column;

  width: 1040px;
  margin: 0 auto;
  padding: 21px 60px 50px;

  background: linear-gradient(to bottom, #ffffff 40px, #f7e296 40px);
}

.main-header ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.header-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 32px;
}

.main-header-logo {
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.main-header form {
  position: relative;

  display: flex;

  width: 440px;
}

.main-header form::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 3px;

  width: 20px;
  height: 20px;

  background: url("../img/search.svg") no-repeat 0 0;
}

.search {
  width: 100%;
  height: 45px;
  padding-left: 40px;

  font: inherit;
  line-height: 36px;
  color: #000000;
  opacity: 0.3;

  background-color: #f7e296;
  border: none;
}

.search:hover {
  opacity: 0.6;
}

.search:focus {
  opacity: 1;
  outline: none;
  border-bottom: 2px solid #000000;
}

.search-button {
  position: relative;
  z-index: -1;

  width: 80px;
  height: 45px;

  font: inherit;
  line-height: 36px;
  color: #000000;

  background-color: #f7e296;
  border: 2px solid #000000;
}

.search:focus + .search-button {
  z-index: 1;
}

.search-button:hover,
.search-button:focus {
  z-index: 1;

  color: #ffffff;

  background-color: #000000;
  outline: none;
}

.search-button:active {
  color: #747474;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;

  width: 500px;

  font: inherit;
  line-height: 36px;
}

.user-navigation a {
  position: relative;

  padding-left: 63px;
}

.user-navigation .login {
  padding-left: 27px;
}

.user-navigation .login-off {
  padding-left: 20px;
}

.main-header .login::before {
  content: "";

  position: absolute;
  top: 3px;
  left: 1px;

  width: 15px;
  height: 15px;

  background: url("../img/user.svg") no-repeat 0 0;
}

.main-header .compare::before {
  content: "";

  position: absolute;
  top: 5px;
  left: 43px;

  width: 15px;
  height: 15px;

  background: url("../img/compare.svg") no-repeat 0 0;
}

.main-header .cart::before {
  content: "";

  position: absolute;
  top: 2px;
  left: 41px;

  width: 15px;
  height: 15px;

  background: url("../img/cart.svg") no-repeat 0 0;
}

.site-navigation {
  display: flex;
  justify-content: space-between;

  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.site-navigation .hidden {
  position: relative;

  padding-right: 35px;
}

.hidden::before {
  content: "";

  position: absolute;
  top: 2px;
  right: 8px;

  width: 15px;
  height: 15px;

  background: url("../img/plus.svg") no-repeat 0 0;
  opacity: 0.3;
}

.hidden:hover .sub-navigation-box {
  z-index: 1;
}

.sub-navigation-box {
  position: absolute;
  top: 20px;
  left: -60px;
  z-index: -1;

  display: flex;

  width: 1040px;
  padding: 30px 60px;

  background-color: #f7e296;
}

.sub-navigation-one {
  width: 240px;
}

.sub-navigation-two {
  width: 200px;
}

.sub-navigation-three {
  width: 160px;
}

.sub-navigation-box a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #000000;
  text-transform: none;
  letter-spacing: 0.01em;
}

.site-navigation-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 500px;
}

.site-navigation-header li:first-child a {
  margin-right: 35px;
}

.main-header a[href]:hover,
.main-header a[href]:focus,
.main-footer a[href]:hover,
.main-footer a[href]:focus {
  opacity: 0.6;
}

.login-off,
.main-header a[href]:active,
.main-footer a[href]:active {
  opacity: 0.3;
}

.section-box {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.container h1,
.container h3 {
  margin: 0;
  padding: 0;

  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 47px;
  line-height: 1.2;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.01em;
  text-align: left;
}

.container ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo {
  position: relative;

  width: 1160px;
  margin: 0 auto;
  margin-bottom: 101px;

  background: linear-gradient(to bottom, #f7e296 114px, #ffffff 114px);
}

.slider-controls {
  position: absolute;
  bottom: 155px;
  right: 80px;
  z-index: 100;

  font-size: 0;
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 20px;

  background-color: inherit;
  border: 1px solid #000000;
  border-radius: 50%;
}

#btn-1:checked ~ .slider-controls .controls-1::before,
#btn-2:checked ~ .slider-controls .controls-2::before,
#btn-3:checked ~ .slider-controls .controls-3::before {
  content: "";

  position: absolute;
  top: 3px;
  left: 3px;

  width: 4px;
  height: 4px;

  border: 1px solid #000000;
  border-radius: 50%;
}

.promo-item {
  display: flex;
  justify-content: space-between;
}

.promo-picture {
  width: 560px;
}

.promo-one img {
  margin-left: 90px;
}

.promo-two img {
  margin-left: 50px;
}

.promo-three img {
  margin-left: 50px;
}

.promo-description {
  position: relative;

  order: 1;

  width: 481px;
  padding-right: 80px;
}

.promo-description::before {
  content: "";

  display: block;

  width: 100px;
  height: 7px;
  margin: 38px 0 37px;

  background-color: #ffffff;
}

.promo-description::after {
  position: absolute;

  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 179px;
  line-height: 1;
  font-weight: 800;
  color: #ffffff;
  letter-spacing: 0.01em;
}

.promo-one .promo-description::after {
  content: "01";

  right: 46px;
  top: -11px;
}

.promo-two .promo-description::after {
  content: "02";

  right: 45px;
  top: -10px;
}

.promo-three .promo-description::after {
  content: "03";

  right: 45px;
  top: -10px;
}

.promo-item h3 {
  margin: 20px 0;
}

.promo-item p {
  padding: 0;
  margin: 14px 0;
}

.promo-item td:nth-child(1) {
  width: 160px;
}

.promo-item td:nth-child(2) {
  width: 135px;
}

.promo-item tr:first-child {
  height: 60px;

  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.01em;
}

.promo-item tr:last-child {
  font-size: 13px;
  line-height: 20px;
}

.button {
  display: inline-block;

  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;

  background: linear-gradient(to bottom, transparent 16px, #f0c52e 16px, #f0c52e 23px, transparent 23px);
  border: none;
}

.promo .button {
  margin: 31px 0 41px;
  padding: 0 43px;
}

.button:hover,
.button:focus {
  background: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.category {
  margin-bottom: 83px;

  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.01em;
}

.category-list {
  display: flex;

  overflow: hidden;
}

.category-item a {
  display: block;

  width: 160px;
  margin-right: 40px;
}

.category-item span:last-child {
  margin-right: 0;
}

.category-item a::before {
  content: "";

  display: block;
  width: 160px;
  height: 158px;
  margin-bottom: 36px;
}

.category-item a[href="1.html"]::before {
  background: #f7e296 url("../img/popular-1.svg") no-repeat center center;
}

.category-item a[href="2.html"]::before {
  background: #f7e296 url("../img/popular-2.svg") no-repeat center  40px;
}

.category-item a[href="3.html"]::before {
  background: #f7e296 url("../img/popular-3.svg") no-repeat center center;
}

.category-item a[href="4.html"]::before {
  background: #f7e296 url("../img/popular-4.svg") no-repeat center center;
}

.category-item a[href="5.html"]::before {
  background: #f7e296 url("../img/popular-5.svg") no-repeat center center;
}

.category-item a[href="6.html"]::before {
  background: #f7e296 url("../img/popular-6.svg") no-repeat center center;
}

.category-item a:hover::before,
.category-item a:focus::before {
  background-color: #f0c52e;
}

.category-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.category-item a[href="1.html"]:active::before {
  background: #f0c52e url("../img/popular-gr-1.svg") no-repeat center center;
}

.category-item a[href="2.html"]:active::before {
  background: #f0c52e url("../img/popular-gr-2.svg") no-repeat center 40px;
}

.category-item a[href="3.html"]:active::before {
  background: #f0c52e url("../img/popular-gr-3.svg") no-repeat center center;
}

.category-item a[href="4.html"]:active::before {
  background: #f0c52e url("../img/popular-gr-4.svg") no-repeat center center;
}

.category-item a[href="5.html"]:active::before {
  background: #f0c52e url("../img/popular-gr-5.svg") no-repeat center center;
}

.category-item a[href="6.html"]:active::before {
  background: #f0c52e url("../img/popular-gr-6.svg") no-repeat center center;
}

.service {
  width: 100%;
  margin-bottom: 95px;

  background: linear-gradient(to bottom, #ffffff 100px, #e5e5e5 100px);
}

.service-box {
  display: flex;

  width: 1160px;
  margin: 0 auto;
  padding: 0 20px 110px;
}

.service .service-list {
  position: relative;

  width: 276px;
  margin-right: 125px;
  padding-top: 80px;
}

.service-list::after {
  content: "";

  position: absolute;
  top: 0;
  left: 278px;

  width: 7px;
  height: 320px;
  background-color: #000000;
}

.service .button {
  width: 160px;
  margin-bottom: 26px;
}

.service .current-of:hover,
.service .current-of:focus {
  background-color: #f0c52e;
}

.service .current-on,
.service .current-of:active {
  width: 160px;
  padding-right: 120px;

  background: #000000;

  color: #f7e184;
}

.service .current-on {
  cursor: default;
}

.descript-item {
  position: relative;

  width: 460px;
  padding-top: 41px;
}

.descript-item::after {
  content: "";

  position: absolute;
  top: 71px;
  right: -234px;

  width: 214px;
  height: 195px;

  background-repeat: no-repeat;
  background-position: right center;
}

.descript-one::after {
  background-image: url("../img/delivery.svg");
}

.descript-two::after {
  background-image: url("../img/warranty.svg");
}

.descript-three::after {
  background-image: url("../img/credit.svg");
}

.descript-list h3 {
  margin: 28px 0;
}

.descript-list p {
  margin: 14px 0;
  margin-right: 40px;
}

.brand {
  margin-bottom: 93px;
}

.brand-list {
  display: flex;

  overflow: hidden;
}

.brand-item a {
  position: relative;

  display: block;

  width: 260px;
  height: 100px;
  margin-right: 40px;
}

.brand-item:last-child {
  margin-right: 0;
}

.brand-item a::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 260px;
  height: 100px;

  background: url("../img/logo-1gr.png") no-repeat 0 0;
  opacity: 0.2;
}

.brand-item + .two a::before {
  background-image: url("../img/logo-2gr.png");
}

.brand-item + .three a::before {
  background-image: url("../img/logo-3gr.png");
}

.brand-item + .four a::before {
  background-image: url("../img/logo-4gr.png");
}

.brand-item img {
  opacity: 0;
}

.brand-item a:hover img,
.brand-item a:focus img {
  opacity: 1;
}

.brand-item a:hover::before,
.brand-item a:focus::before {
  z-index: 0;
}
/*
.brand img {
  filter: grayscale(1) opacity(0.2);
}

.brand img:hover,
.brand img:focus {
  filter: grayscale(0) opacity(1);
}
*/

.company {
  display: flex;
  justify-content: space-between;

  margin-bottom: 82px;
}

.about-company {
  width: 485px;
}

.contacts-company {
  width: 560px;
}

.company section::before {
  content: "";
  display: block;

  width: 80px;
  height: 7px;
  margin-bottom: 42px;

  background-color: #000000;
}

.company h3 {
  margin: 40px 0;
}

.company p {
  padding: 0;
  margin: 30px 0;
}

.company ul {
  margin: 67px 0 54px;
}

.company li {
  position: relative;

  padding-left: 35px;

  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
}

.company li::before {
  content: "";

  position: absolute;
  top: 15px;
  left: 0px;

  width: 5px;
  height: 5px;

  border: 2px solid #e6e6e6;
  border-radius: 50%;
}

.contacts-company img {
  margin: 9px 0 30px;

  background-color: #e9e9e9;
}

.company .button {
  width: 260px;
}

.modal {
  position: fixed;

  box-shadow: 20px 0 40px rgba(0, 0, 0, 0.75);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.modal-map {
  top: 50%;
  left: 50%;

  display: none;

  width: 960px;
  height: 560px;
  margin-top: -280px;
  margin-left: -480px;
}

.modal-map img {
  padding: 0 5px;

  background-color: #e9e9e9;
}

.modal-feedback {
  top: 50%;
  left: 50%;

  display: none;

  width: 760px;
  padding: 87px 100px 80px;
  margin-top: -280px;
  margin-left: -380px;

  background-color: #ffffff;
}

.modal-feedback form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal label {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 800;
  color: #000000;
}

.modal input,
.modal textarea {
  box-sizing: border-box;
  margin: 10px 0;
  padding: 15px 20px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: rgba(70, 70, 70, 0.4);

  background-color: #f2f2f2;
  border: none;
}

.modal input {
  width: 360px;
}

.modal textarea {
  width: 100%;
  height: 156px;
}

.modal input:hover,
.modal textarea:hover {
 background-color: #eaeaea;
}

.modal input:focus,
.modal textarea:focus {
  color: #464646;
  outline: none;

  background-color: #ffffff;
  border: 2px solid #f0c52e;
}

.modal input:invalid,
.modal textarea:invalid {
  background-color: #f6dada;
}

.modal .button {
  width: 200px;
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 55px;
  height: 55px;

  font-size: 0;

  background: url("../img/modal-close.svg");
  border: 0;
  opacity: 0.5;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.main-footer {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding-top: 65px;
  padding-bottom: 58px;

  background-color: #464646;
}

.main-footer a {
  color: #ffffff;
}

.main-footer > div {
  display: flex;
  align-items: flex-start;

  width: 1160px;
  margin: 0 auto;
}

.main-footer > div:first-child {
  margin-bottom: 20px;
}

.user-navigation-footer {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  margin-left: auto;
  padding: 0;

  font: inherit;
  line-height: 26px;
  list-style: none;
}

.user-navigation-footer a {
  position: relative;

  padding-left: 63px;

  opacity: 0.7;
}

.main-footer .login::before {
  content: "";

  position: absolute;
  top: 4px;
  left: 39px;

  width: 15px;
  height: 15px;

  background: url("../img/user-yellow.svg") no-repeat 0 0;
}

.main-footer .compare::before {
  content: "";

  position: absolute;
  top: 5px;
  left: 44px;

  width: 15px;
  height: 15px;

  background: url("../img/compare-yellow.svg") no-repeat 0 0;
}

.main-footer .cart::before {
  content: "";

  position: absolute;
  top: 4px;
  left: 42px;

  width: 15px;
  height: 15px;

  background: url("../img/cart-yellow.svg") no-repeat 0 0;
}

.user-navigation-footer a[href]:hover,
.user-navigation-footer a[href]:focus {
  opacity: 1;
}

.user-navigation-footer a[href]:active {
  opacity: 0.3;
}

.main-footer > div:nth-child(2) {
  margin-bottom: 62px;
}

.contact {
  color: #ffffff;
  letter-spacing: 0;
  font-style: normal;
}

.site-navigation-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: flex-end;

  width: 427px;
  margin: 0 auto;
  padding: 0;
  padding-right: 36px;

  list-style: none;
}

.main-footer div:nth-child(3)::before {
  content: "";

  width: 80px;
  height: 7px;
  margin-top: 14px;

  background-color: #ffc600;
}

.main-footer .social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 145px;
  margin: 0 auto;
  padding: 0;
  padding-right: 50px;

  list-style: none;
}

.social a {
  position: relative;

  display: block;

  width: 35px;
  height: 35px;
}

.social-facebook::before {
  content: "";

  position: absolute;
  top: 0;
  left: 2px;

  width: 32px;
  height: 32px;

  background: url("../img/fb.svg") no-repeat 0 0;
  opacity: 0.3;
}

.social-instagram::before {
  content: "";

  position: absolute;
  top: 0;
  left: 2px;

  width: 32px;
  height: 32px;

  background: url("../img/instagram.svg") no-repeat 0 0;
  opacity: 0.3;
}

.social-twitter::before {
  content: "";

  position: absolute;
  top: 0;
  left: 2px;

  width: 32px;
  height: 32px;

  background: url("../img/twitter.svg") no-repeat 0 0;
  opacity: 0.3;
}

.social a:hover::before,
.social a:focus::before {
  opacity: 0.6;
}

.social a:active::before {
  opacity: 0.1;
}

.inner-page {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  width: 1160px;
  margin: 0 auto;
}

.inner-page::before {
  content: "";

  position: absolute;
  top: 0;
  right: 1160px;

  width: calc((100vw - 1160px) / 2);
  height: 100%;

  background: linear-gradient(to bottom, #ffffff 181px, #dbdbdb 181px, #dbdbdb 249px, #efefef 249px);
}

.inner-page::after {
  content: "";

  position: absolute;
  top: 0;
  left: 1160px;

  width: calc((100vw - 1160px) / 2 - 17px);
  height: 100%;

  background: linear-gradient(to bottom, #ffffff 181px, #ebebeb 181px, #ebebeb 249px, #ffffff 249px);
}

.header-box {
  width: 1040px;
  margin: 0 auto;
  padding: 34px 60px 39px;

  background-color: #ffffff;
}

.inner-page h1 {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.breadcrumbs-list {
  display: flex;
}

.breadcrumbs a {
  position: relative;

  padding-right: 38px;

  font: inherit;
  font-size: 14px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a[href]::after {
  content: "";

  position: absolute;
  top: 6px;
  right: 16px;

  width: 4px;
  height: 7px;

  background: url("../img/nav-arrow.svg") no-repeat 0 0;
}

.breadcrumbs a[href]:hover,
.breadcrumbs a[href]:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a[href]:active,
.breadcrumbs a[href]:active {
  color: rgba(0, 0, 0, 0.1);
}

.filters {
  width: 200px;
  padding: 0 66px 0 60px;

  background: linear-gradient(to bottom, #dbdbdb 68px, #efefef 68px);
}

.inner-page h2 {
  margin: 25px 0;
  padding: 0;

  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  text-align: left;
}

.filters form {
  margin-top: 110px;
}

.filters fieldset {
  position: relative;

  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  border: none;
}

.filters fieldset:before {
  content: "";

  position: absolute;
  top: -15px;
  left: 0;

  width: 100%;
  height: 2px;

  background-color: #000000;
}

.filters legend {
  margin: 50px 0 19px;

  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.01em;
}

.range-controls {
  position: relative;

  width: 100%;
  height: 2px;
  margin: 20px 0 44px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 60%;
  height: 2px;

  background: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  top: -9px;
  left: 0;

  width: 4px;
  height: 4px;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.toggle::before {
  content: "";

  display: inline-block;

  margin-top: 15px;

  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}

.range-controls .toggle:active {
  border: 9px solid #ffffff;
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 120px;
}

.toggle-min::before {
  content: "от 0";

  transform: translate(-20%, 0);
}

.toggle-max::before {
  content: "до 5000";

  transform: translate(-50%, 0);
}

.filter-list li {
  padding-left: 40px;
}

.filter-list label {
  position: relative;

  font: inherit;
  font-size: 14px;
  line-height: 40px;
  color: #000000;

  cursor: pointer;
  user-select: none;
}

.filter-checkbox + label::before {
  content: "";

  position: absolute;
  left: -40px;
  top: -3px;

  width: 27px;
  height: 23px;

  background: url("../img/checkbox-off.svg") no-repeat 0 0;
}

.filter-checkbox:checked + label::before {
  background: url("../img/checkbox-on.svg") no-repeat 0 0;
}

.filter-radio + label::before {
  content: "";

  position: absolute;
  left: -40px;
  top: -5px;

  width: 25px;
  height: 25px;

  background: url("../img/radio-off.svg") no-repeat 0 0;
}

.filter-radio:checked + label::before {
  background: url("../img/radio-on.svg") no-repeat 0 0;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.25;
}

.filter-input:hover + label::before,
.filter-input:focus + label::before {
  opacity: 0.6;
}

.filter-input:active + label::before {
  opacity: 1;
}

.filters .button {
  width: 100%;
}

.sort {
  display: flex;
  flex-wrap: wrap;

  width: 760px;
  padding-left: 74px;

  background: linear-gradient(to bottom, #ebebeb 68px, #ffffff 68px);
}

.sort-by {
  display: flex;
  justify-content: space-between;

  width: 560px;
  margin-left: auto;
}

.sort-by ul {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;
}

.sort-by a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #000000;
}

.sort-by-type a {
  padding-right: 28px;
}

.sort-by-priority a {
  position: relative;

  display: block;

  width: 20px;
  height: 20px;
}

.sort-up::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 0px;

  width: 11px;
  height: 10px;

  background: url("../img/icon-up-dir.svg") no-repeat 0 0;
}

.sort-down::after {
  content: "";

  position: absolute;
  top: 5px;
  left: 10px;

  width: 11px;
  height: 10px;

  background: url("../img/icon-down-dir.svg") no-repeat 0 0;
}

.sort-by a[href] {
  opacity: 0.3;
}

.sort-by a[href]:hover,
.sort-by a[href]:focus {
  opacity: 0.6;
}

.sort-by a[href]:active {
  opacity: 1;
}

.sort .catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 760px;
  margin: 72px 0 -12px;
  padding: 0;
}

.catalog-item {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 50px;

  width: 360px;
}

.catalog-list .new-item::before {
  content: "new";

  position: absolute;
  top: 30px;
  right: 25px;

  width: 55px;
  height: 55px;

  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 14px;
  line-height: 52px;
  font-weight: 800;
  color: #bfbfbf;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;

  border: 2px solid #bfbfbf;
  border-radius: 50%;
}

.catalog-item h3 {
  order: 1;

  width: 260px;
  min-height: 44px;
  margin: 0;
  padding: 0;

  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.01em;
}

.catalog-item img {
  width: 360px;
  height: 380px;
  margin-bottom: 32px;
}

.catalog-item span {
  order: 2;

  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #464646;
  letter-spacing: 0.01em;
}

.catalog-item p {
  position: absolute;
  top: 170px;
  left: 78px;
  z-index: -1;

  text-align: center;
}

.catalog-item:hover  p {
  z-index: 1;
}

.catalog-item:hover img {
  opacity: 0.3;
  cursor: pointer;
}

.catalog-item .button {
  width: 200px;
}

.catalog-item .compare-on {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.01em;
}

.catalog-item .compare-on:hover,
.catalog-item .compare-on:focus {
  color: rgba(0, 0, 0, 1);
}

.catalog-item .compare-on:active {
  color: rgba(0, 0, 0, 0.2);
}

.sort .pagination-list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 760px;
  margin: 0;
  margin-bottom: 77px;
  padding: 0;

  background-color: #ebebeb;
}

.pagination-list a {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.pagination-item a {
  display: inline-block;

  padding: 26px;
  padding-left: 30px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #d9d9d9;
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-number a {
  padding-left: 28px;
}

.pagination-number a:last-child {
  padding-right: 10px;
}

.pagination-number a[href] {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-number a[href]:hover,
.pagination-number a[href]:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-number a[href]:active {
  color: rgba(0, 0, 0, 1);
}
